In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
data = pd.read_csv("/content/drive/MyDrive/data/database.csv")
data.columns

Index(['Date', 'Time', 'Latitude', 'Longitude', 'Type', 'Depth', 'Depth Error',
       'Depth Seismic Stations', 'Magnitude', 'Magnitude Type',
       'Magnitude Error', 'Magnitude Seismic Stations', 'Azimuthal Gap',
       'Horizontal Distance', 'Horizontal Error', 'Root Mean Square', 'ID',
       'Source', 'Location Source', 'Magnitude Source', 'Status'],
      dtype='object')

In [7]:
data = data[['Date', 'Time', 'Latitude', 'Longitude', 'Depth', 'Magnitude']]
data.head()

         Date      Time  Latitude  Longitude  Depth  Magnitude
0  01/02/1965  13:44:18    19.246    145.616  131.6        6.0
1  01/04/1965  11:29:49     1.863    127.352   80.0        5.8
2  01/05/1965  18:05:58   -20.579   -173.972   20.0        6.2
3  01/08/1965  18:49:43   -59.076    -23.557   15.0        5.8
4  01/09/1965  13:32:50    11.938    126.427   15.0        5.8

In [8]:
import datetime
import time

timestamp = []
for d, t in zip(data['Date'], data['Time']):
    try:
        ts = datetime.datetime.strptime(d+' '+t, '%m/%d/%Y %H:%M:%S')
        timestamp.append(time.mktime(ts.timetuple()))
    except ValueError:
        # print('ValueError')
        timestamp.append('ValueError')
timeStamp = pd.Series(timestamp)
data['Timestamp'] = timeStamp.values
final_data = data.drop(['Date', 'Time'], axis=1)
final_data = final_data[final_data.Timestamp != 'ValueError']
final_data.head()

   Latitude  Longitude  Depth  Magnitude    Timestamp
0    19.246    145.616  131.6        6.0 -1.57631e+08
1     1.863    127.352   80.0        5.8 -1.57466e+08
2   -20.579   -173.972   20.0        6.2 -1.57356e+08
3   -59.076    -23.557   15.0        5.8 -1.57094e+08
4    11.938    126.427   15.0        5.8 -1.57026e+08

In [22]:
X = final_data[['Timestamp', 'Latitude', 'Longitude']]
y = final_data[['Magnitude', 'Depth']]

X = np.asarray(X).astype('float32')
y = np.asarray(y).astype('float32')
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(X_train.shape, X_test.shape, y_train.shape, X_test.shape)

(18727, 3) (4682, 3) (18727, 2) (4682, 3)

In [23]:
from keras.models import Sequential
from keras.layers import Dense

def create_model(neurons, activation, optimizer, loss):
    model = Sequential()
    model.add(Dense(neurons, activation=activation, input_shape=(3,)))
    model.add(Dense(neurons, activation=activation))
    model.add(Dense(2, activation='softmax'))
    
    model.compile(optimizer=optimizer, loss=loss, metrics=['accuracy'])
    
    return model

In [24]:
from keras.wrappers.scikit_learn import KerasClassifier

model = KerasClassifier(build_fn=create_model, verbose=0)

# neurons = [16, 64, 128, 256]
neurons = [16]
# batch_size = [10, 20, 50, 100]
batch_size = [10]
epochs = [10]
# activation = ['relu', 'tanh', 'sigmoid', 'hard_sigmoid', 'linear', 'exponential']
activation = ['sigmoid', 'relu']
# optimizer = ['SGD', 'RMSprop', 'Adagrad', 'Adadelta', 'Adam', 'Adamax', 'Nadam']
optimizer = ['SGD', 'Adadelta']
loss = ['squared_hinge']

param_grid = dict(neurons=neurons, batch_size=batch_size, epochs=epochs, activation=activation, optimizer=optimizer, loss=loss)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: KerasClassifier is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [25]:
from sklearn.model_selection import GridSearchCV

In [26]:
model = Sequential()
model.add(Dense(16, activation='relu', input_shape=(3,)))
model.add(Dense(16, activation='relu'))
model.add(Dense(2, activation='softmax'))

model.compile(optimizer='SGD', loss='squared_hinge', metrics=['accuracy'])
model.fit(X_train, y_train, batch_size=10, epochs=20, verbose=1, validation_data=(X_test, y_test))

[test_loss, test_acc] = model.evaluate(X_test, y_test)
print("Evaluation result on Test Data : Loss = {}, accuracy = {}".format(test_loss, test_acc))

Epoch 1/20
1873/1873 [==============================] - 4s 2ms/step - loss: 0.5000 - accuracy: 0.0818 - val_loss: 0.5000 - val_accuracy: 0.0758
Epoch 2/20
1873/1873 [==============================] - 3s 2ms/step - loss: 0.5000 - accuracy: 0.0818 - val_loss: 0.5000 - val_accuracy: 0.0758
Epoch 3/20
1873/1873 [==============================] - 3s 2ms/step - loss: 0.5000 - accuracy: 0.0818 - val_loss: 0.5000 - val_accuracy: 0.0758
Epoch 4/20
1873/1873 [==============================] - 3s 2ms/step - loss: 0.5000 - accuracy: 0.0818 - val_loss: 0.5000 - val_accuracy: 0.0758
Epoch 5/20
1873/1873 [==============================] - 3s 2ms/step - loss: 0.5000 - accuracy: 0.0818 - val_loss: 0.5000 - val_accuracy: 0.0758
Epoch 6/20
1873/1873 [==============================] - 3s 2ms/step - loss: 0.5000 - accuracy: 0.0818 - val_loss: 0.5000 - val_accuracy: 0.0758
Epoch 7/20
1873/1873 [==============================] - 3s 2ms/step - loss: 0.5000 - accuracy: 0.0818 - val_loss: 0.5000 - val_accuracy: 0.0758
Epoch 8/20
1873/1873 [==============================] - 3s 2ms/step - loss: 0.5000 - accuracy: 0.0818 - val_loss: 0.5000 - val_accuracy: 0.0758
Epoch 9/20
1873/1873 [==============================] - 3s 2ms/step - loss: 0.5000 - accuracy: 0.0818 - val_loss: 0.5000 - val_accuracy: 0.0758
Epoch 10/20
1873/1873 [==============================] - 3s 2ms/step - loss: 0.5000 - accuracy: 0.0818 - val_loss: 0.5000 - val_accuracy: 0.0758
Epoch 11/20
1873/1873 [==============================] - 3s 2ms/step - loss: 0.5000 - accuracy: 0.0818 - val_loss: 0.5000 - val_accuracy: 0.0758
Epoch 12/20
1873/1873 [==============================] - 3s 2ms/step - loss: 0.5000 - accuracy: 0.0818 - val_loss: 0.5000 - val_accuracy: 0.0758
Epoch 13/20
1873/1873 [==============================] - 3s 2ms/step - loss: 0.5000 - accuracy: 0.0818 - val_loss: 0.5000 - val_accuracy: 0.0758
Epoch 14/20
1873/1873 [==============================] - 3s 2ms/step - loss: 0.5000 - accuracy: 0.0818 - val_loss: 0.5000 - val_accuracy: 0.0758
Epoch 15/20
1873/1873 [==============================] - 3s 2ms/step - loss: 0.5000 - accuracy: 0.0818 - val_loss: 0.5000 - val_accuracy: 0.0758
Epoch 16/20
1873/1873 [==============================] - 3s 2ms/step - loss: 0.5000 - accuracy: 0.0818 - val_loss: 0.5000 - val_accuracy: 0.0758
Epoch 17/20
1873/1873 [==============================] - 3s 2ms/step - loss: 0.5000 - accuracy: 0.0818 - val_loss: 0.5000 - val_accuracy: 0.0758
Epoch 18/20
1873/1873 [==============================] - 3s 2ms/step - loss: 0.5000 - accuracy: 0.0818 - val_loss: 0.5000 - val_accuracy: 0.0758
Epoch 19/20
1873/1873 [==============================] - 3s 2ms/step - loss: 0.5000 - accuracy: 0.0818 - val_loss: 0.5000 - val_accuracy: 0.0758
Epoch 20/20
1873/1873 [==============================] - 3s 2ms/step - loss: 0.5000 - accuracy: 0.0818 - val_loss: 0.5000 - val_accuracy: 0.0758
147/147 [==============================] - 0s 1ms/step - loss: 0.5000 - accuracy: 0.0758
Evaluation result on Test Data : Loss = 0.5, accuracy = 0.07582230120897293